<mat-toolbar class="container header">
    <div class="logo"></div>
    <div fxFlex></div>
    <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Pool Tweets</a>
    <a mat-button routerLink="/train" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Train tweets</a>
    <a mat-button routerLink="/stats" routerLinkActive="active"><span class="fas fa-chart-line"></span> Stats</a>
    <span class="flex-spacer"></span>
    <a mat-button (click)="openLoginForm()">
      <span class="fas fa-sign-in-alt"></span>
      Login
    </a>
</mat-toolbar>
  
  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="50%">
      <h1>Twitter Naive Bayes Classifier</h1>
      <p><i>tag your tweets!</i></p>
    </div>
    <div fxFlex></div>
  </div>