@import "../../styles.scss";

$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #bea6a1;
$background-pale: #d1c4e9;
$background-moredark: #bb8378;

$logo-border: #fae955;

.header {
  background-color: $natural-palette-backgroud-light;
  @include zero-margin(20px, 0px);
}

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.jumbotron {
  @include zero-margin(30px, 30px);
  background: $natural-palette-backgroud-light;
}

.active {
  background: $matching-gradient-link-active;
}

.logo {
  background: $natural-palette-backgroud-light;
  height: 0px;
  margin-top: 50px;
  text-align: center;
}
.logo:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  background: $natural-palette-logo-red url("/assets/images/logo.png") center /
    cover;
  border: 8px solid $natural-palette-logo-border;
  border-radius: 100%;
  box-sizing: border-box;
  margin-top: -50px;
}
