<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="55">
        <h4>Proof of concept for twitters classification</h4>
        <address style="text-size: 80%">
          Università degli Studi di Milano<br>
          Via Festa del Perdono 7 - 20122 Milano<br>
          <i class="fa fa-phone"></i>:+39 02 5032 5032<br>
          <a href="mailto:unimi@postecert.it"><i class="fas fa-envelope"></i>unimi@postecert.it</a><br>
          C.F. 80012650158 - P.I. 03064870151<br>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-wiki" href="https://en.wikipedia.org/wiki/Naive_Bayes_classifier"><i class="fab fa-wikipedia-w"></i></a>
      <a mat-icon-button class="btn-university" href="https://ssri.cdl.unimi.it/it/il-corso/sicurezza-dei-sistemi-e-delle-reti-informatiche"><i class="fas fa-university"></i></a>
      <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/nunzio-castelli-031aba42/"><i class="fab fa-linkedin"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:nunzio.castelli@studenti.unimi.it"><i class="fas fa-envelope"></i></a>      
    </div>
  </div>
</div>
<div>
  <a class="text-copyright" href="https://www.unimi.it">
    1923 - La Statale - Scientia illuminans dignum
    &copy;
    {{localDate | date: 'yyyy'}}
  </a>
</div>  

