@import "../../styles.scss";

.login {
  background-color: rgb(255, 236, 129);
}

.login-button {
  background-color: rgb(157, 255, 161);
  //color: rgb(157, 255, 161);
}

.cancel-button {
  background-color: rgb(255, 74, 74);
  //color: rgb(255, 74, 74);
}
