<mat-toolbar class="login">
    Login
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<!-- <p>{{user | json}}</p> -->

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <p>
            <mat-form-field>
                <input matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" #username="ngModel" required>
                <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Bearer" type="text" [(ngModel)]="user.bearer" name="bearer" #password="ngModel" required>
                <mat-error *ngIf="password.errors?.required">Bearer is required for api twitter authentication</mat-error>
            </mat-form-field>
        </p>
    </mat-dialog-content>

    <mat-dialog-actions>
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
        <button mat-button type="submit" class="login-button" [disabled]="loginForm.form.invalid">Login</button>
    </mat-dialog-actions>

</form>