<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <!-- Display the details of the Dish here -->
    <mat-card>

        <mat-card-header>
            <mat-card-title>
                <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
            </mat-card-title>          
        </mat-card-header>

        <img mat-card-image src="{{ baseURL + dish.image }}" alt={{dish.name}}>
       
        <mat-card-content>
            <p>{{dish.description}}</p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <button mat-button (click)="goBack()">BACK</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail',prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail',next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h3>Comments</h3>
    <mat-list>
        <mat-list-item *ngFor="let comment of dish.comments">
            <p matLine>{{comment.comment}}</p>
            <p matLine>{{comment.rating}} Stars</p>        
            <p matLine>--- {{comment.author}} {{comment.date | date}}</p>
        </mat-list-item>
    </mat-list>

    <!--
        PREVIEW
    -->
    <div *ngIf="userCommentForm.valid">
        <mat-list>
            <mat-list-item>
                <p matLine>{{userCommentForm.value.comment}}</p>
                <p matLine>{{userCommentForm.value.rating}} Stars</p>        
                <p matLine>--- {{userCommentForm.value.author}}</p>
            </mat-list-item>
        </mat-list>
    </div>

    <!--
        ADD COMMENTS
    -->
    <h3>Leave us a comment!</h3>
    <!-- <p>{{ userCommentForm.value | json }}</p>
    <p>{{ userCommentForm.status | json }}</p> -->
    <form novalidate [formGroup]="userCommentForm" #ucform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="author" placeholder="Author name" type="text" required>
                <mat-error *ngIf="formErrors.author">
                    {{formErrors.author}}
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-slider min="1" max="5" step="0.5" formControlName="rating">
                Rate me
            </mat-slider>
        </p>
        <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="comment" placeholder="Comment" type="text" required>
                <mat-error *ngIf="formErrors.comment">
                    {{formErrors.comment}}
                </mat-error>
            </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="userCommentForm.invalid">
            Submit
        </button>
    </form>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>
